# Ignore everything except Python files
*
!*.py
!.gitignore
!README.md
!requirements.txt
!data.yaml
!.git/
!*/
.conda
dataset 2/
dataset/train/labels/*.txt
dataset/validation/labels/*.txt
dataset/test/labels/*.txt